html, body {
    height: 100%;
    width: 100%;
    background-color: #D1D1D1;
    margin: 0;
}


header {
    background-color: #4D5052;
    height: 15%;
    width: 100%;
}

footer {
    background-color: #4D5052;
    height: 10.4%;
    width: 72.5%;
    margin: auto;
}

.center-column {
    background-color: #F0EFF0;
    width: 72.5%;
    height: 106%;
    margin: auto;
}